:root {
  --main-accent: #a800d6;
  --secondary-accent: #6b0cc2;
  --black: #080808;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: #fff;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/mayc-bg.png");
  background-size: cover;
  background-position: center;
}

header .logo {
  width: 350px;
  font-size: 40px;
  font-weight: 400;
  padding: 10px;
  color: var(--main-accent);
}

/**** Navigation Bar ****/

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Need to make navbar full-width and fixed position */
}

/* Logo alterations */

/* .logo::before {
  content: "< ";
  color: var(--main-accent);
}

.logo::after {
  content: " >";
  color: var(--main-accent);
} */

.logo {
  left: 0;
  display: inline-block;
}

/** Navigation Items **/

a {
  text-decoration: none;
}

.navigation li {
  display: inline;
  font-size: 25px;
}

.navigation li a {
  position: relative;
  margin-left: 20px;
  color: white;
}

/* Creates a bottom accent underneath navigation items, hidden with width 0 by default */
.navigation li a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 0;
  height: 4px;
  background: var(--main-accent);
  transition: all 0.5s;
}

/* Causes accent to appear by increasing width to 100% */
.navigation li a:hover::after {
  width: 100%;
}

/**** Header text ****/

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  font-weight: 400;
  margin-top: 20px;
}

.name::before {
  content: '${';
  color: var(--main-accent);
}

.name::after {
  content: '}';
  color: var(--main-accent);
}

/**** about section ****/

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
}

.sub-title::before {
  content: '< ';
  color: var(--main-accent);
}

.sub-title::after {
  content: ' >';
  color: var(--main-accent);
}

.tab-titles {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 0%;
  height: 4px;
  background: var(--secondary-accent);
  transition: all 0.5s;
}

/* Sets accent underneath corresponding tab */
.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
}

/* Sets color for content inside of about tabs */
.tab-contents ul li span {
  color: var(--main-accent);
  font-size: 18px;
}

.hide-tab {
  display: none;
}

/* Services */

.services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}

/* Portfolio */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.work:first-child {
  grid-column: 1 / 5;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6), var(--secondary-accent));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.layer h3 {
  margin-bottom: 10px;
}

.layer a {
  margin-top: 20px;
  color: var(--main-accent);
  text-decoration: none;
  background: #fff;
  font-size: 18px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.work:hover .layer {
  height: 100%;
}

.work:hover img {
  transform: scale(1.1);
}

/* Portfolio Button */

.see-more {
  display: block;
  margin: 50px auto;
  padding: 15px 50px;
  width: fit-content;
  border-style: solid;
  border-color: var(--secondary-accent);
  border-width: 1px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 20px;
  background: var(--black);
  color: white;
  transition: all .2s ease;
  cursor: pointer;
}

.see-more:hover {
  background: var(--secondary-accent);
}